@import 'global/mixins';
@import 'global/normalize';
@import 'global/fonts';

$color--primary: #333;

body{
  font-family:'Eurostile', Helvetica, sans-serif;
  background-color:#A3A2B0;
  background-image: url(../images/grad_bg_2.jpg);
  background-size:cover;
  background-position: center 0;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height:100%
}

html{
  height:100%
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
  margin: 0 0 1.45rem;
  color: $color--primary;
  max-width: 600px;
}

p, li, span {
  color: $color--primary;
}

.wrap {
  @include breakpoint(medium) {
    display: flex;
  }
}

#webGLCanvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

main {
  padding: 32px 24px;
  min-height:100%;
  position:relative;
  flex: 1;

  @include breakpoint(medium) {
    max-width: calc(100vw - 240px);
  }

  a {
    @include hoverline($color--primary);
  }
}

header {
  width: 100%;

  @include breakpoint(medium) {
    width: 240px;

    .header__inner {
      position: sticky;
      top: 0;
    }
  }

  h1 {
    font-size:2rem;
    color: #2F2727;
    text-align: left;
    padding: 24px 24px;
    margin: 0;

    a {
      color: $color--primary;
      text-decoration: none;
    }
  }

  nav {
    ul {
      margin: 0;
      padding: 0 0 0 24px;
      @include breakpoint(medium) {
        padding: 0 0 0 48px;
      }

      li{
        margin: 0 0 8px 0; 
        text-align:left;
        list-style:none;

        a {
          @include hoverline($color--primary);
        }
      }
    }
  }

}

.about {
  padding-bottom: 48px;
}

.projects {
  padding-bottom: 48px;

  &__blocks {
    display: flex;
    flex-wrap: wrap;
  }
}

.project {
  @include breakpoint(medium) {
    display: flex;
  }

  &__content {
    max-width: 400px;
    padding: 0 24px 24px 0;
  }

  &__gallery {
    flex: 1;

    img {
      width: 100%;
      display: block;
    }
  }
}

.work {
  width: 250px;
  height: 250px;
  position: relative;
  margin: 0 24px 24px 0;
  flex: 1 0 auto;
  background-color: #fff;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: all .3s ease-in-out;
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 0.625em 0 rgba(100,116,128,.16), 0 0.25em 0.5em -0.375em rgba(100,116,128,.8);

  &:before {
    display: none;
  }

  &:hover {
    transform: translateY(-10px);
  }

  &__title, &__year {
    position: absolute;
    left: 30px;
    font-size: 16px;
    top: 30px;
  }
  &__year {
    bottom: 30px;
    top: auto;
  }
  &__image {
    width: 60%;
    position: absolute;
    transition: all .3s ease-in-out;
    bottom: -1px;
    right: -1px;
  }
}

.glitch {
  color: #2F2727;
  position: relative;
  width: 400px;
  margin: 0 auto;

  &:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: #2F2727;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
  }
  &:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: #2F2727;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(39px, 9999px, 75px, 0);
  }
  5% {
    clip: rect(89px, 9999px, 89px, 0);
  }
  10% {
    clip: rect(80px, 9999px, 68px, 0);
  }
  15% {
    clip: rect(65px, 9999px, 16px, 0);
  }
  20% {
    clip: rect(28px, 9999px, 3px, 0);
  }
  25% {
    clip: rect(19px, 9999px, 19px, 0);
  }
  30% {
    clip: rect(14px, 9999px, 64px, 0);
  }
  35% {
    clip: rect(91px, 9999px, 47px, 0);
  }
  40% {
    clip: rect(17px, 9999px, 30px, 0);
  }
  45% {
    clip: rect(77px, 9999px, 87px, 0);
  }
  50% {
    clip: rect(66px, 9999px, 77px, 0);
  }
  55% {
    clip: rect(2px, 9999px, 35px, 0);
  }
  60% {
    clip: rect(50px, 9999px, 99px, 0);
  }
  65% {
    clip: rect(79px, 9999px, 79px, 0);
  }
  70% {
    clip: rect(93px, 9999px, 81px, 0);
  }
  75% {
    clip: rect(99px, 9999px, 60px, 0);
  }
  80% {
    clip: rect(74px, 9999px, 34px, 0);
  }
  85% {
    clip: rect(79px, 9999px, 69px, 0);
  }
  90% {
    clip: rect(90px, 9999px, 49px, 0);
  }
  95% {
    clip: rect(23px, 9999px, 91px, 0);
  }
  100% {
    clip: rect(6px, 9999px, 92px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(36px, 9999px, 29px, 0);
  }
  5% {
    clip: rect(69px, 9999px, 4px, 0);
  }
  10% {
    clip: rect(33px, 9999px, 59px, 0);
  }
  15% {
    clip: rect(92px, 9999px, 18px, 0);
  }
  20% {
    clip: rect(74px, 9999px, 46px, 0);
  }
  25% {
    clip: rect(43px, 9999px, 33px, 0);
  }
  30% {
    clip: rect(19px, 9999px, 25px, 0);
  }
  35% {
    clip: rect(89px, 9999px, 100px, 0);
  }
  40% {
    clip: rect(63px, 9999px, 27px, 0);
  }
  45% {
    clip: rect(2px, 9999px, 5px, 0);
  }
  50% {
    clip: rect(18px, 9999px, 87px, 0);
  }
  55% {
    clip: rect(8px, 9999px, 5px, 0);
  }
  60% {
    clip: rect(79px, 9999px, 72px, 0);
  }
  65% {
    clip: rect(10px, 9999px, 3px, 0);
  }
  70% {
    clip: rect(41px, 9999px, 89px, 0);
  }
  75% {
    clip: rect(59px, 9999px, 98px, 0);
  }
  80% {
    clip: rect(87px, 9999px, 50px, 0);
  }
  85% {
    clip: rect(80px, 9999px, 14px, 0);
  }
  90% {
    clip: rect(23px, 9999px, 28px, 0);
  }
  95% {
    clip: rect(21px, 9999px, 3px, 0);
  }
  100% {
    clip: rect(80px, 9999px, 7px, 0);
  }
}


