@font-face {
  font-family: 'Eurostile';
  src: url('../fonts/eurosti-webfont.eot');
  src: url('../fonts/eurosti-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/eurosti-webfont.woff') format('woff'),
       url('../fonts/eurosti-webfont.ttf') format('truetype'),
       url('../fonts/eurosti-webfont.svg#EurostileRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
